body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Permite apilar el header sobre el contenido */
}

#header-container {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex: 1; /* Permite que el contenedor ocupe el resto del espacio */
    overflow: hidden; /* Evita desplazamientos no deseados */
}

.filters-panel {
    width: 25%;
    background-color: #f5f5f5;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    background-color: #ddd;
    border: none;
    cursor: pointer;
}

.tab.active {
    background-color: #007bff;
    color: white;
}

.filters-content {
    flex: 1;
    overflow-y: auto;
}

.filters-tab {
    display: none;
}

.filters-tab.active {
    display: block;
}

label {
    display: block;
    margin: 5px 0;
}

.reset-filters {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
}

#map {
    width: 75%;
    height: 100%;
    overflow: hidden;
}
