<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca de Recursos</title>
    <link rel="stylesheet" href="../styles/biblioteca.css">
</head>
<body>
    <!-- Encabezado -->
    <div id="header-container"></div>
    <main>
      <h1>Biblioteca de Recursos</h1>
      <p>
        El Sistema es un componente de la Unidad de Cultura y Economía del Ministerio de Cultura y Juventud, 
        que se dedica a la difusión, análisis y conocimiento de la cultura costarricense, ofreciendo información diversa, 
        actualizada y útil para artistas, emprendedores culturales y público en general.
      </p>
      <p>
        En esta sección podrán encontrar todas las publicaciones realizadas desde la Unidad de Cultura y Economía.
      </p>
        <section class="recursos">
          <article class="recurso">
            <div class="recurso-imagen">
                <img src="../../images/inventario_cahuita.jpg" alt="Inventario Cultural">
            </div>
            <div class="recurso-texto">
                <h2>Inventario Cultural de Cahuita</h2>
                <p>
                  El inventario cultural es un mapeo completo de los recursos culturales con que cuenta el lugar, 
                  a partir de la participación activa de los actores municipales y comunales.
                </p>
                <a href="#" class="descargar">Descargar</a>
            </div>
          </article>

          <article class="recurso">
            <div class="recurso-imagen">
                <img src="../../images/inventario_cahuita.jpg" alt="Inventario Cultural">
            </div>
            <div class="recurso-texto">
                <h2>Inventario Cultural de Cahuita</h2>
                <p>
                  El inventario cultural es un mapeo completo de los recursos culturales con que cuenta el lugar, 
                  a partir de la participación activa de los actores municipales y comunales.
                </p>
                <a href="#" class="descargar">Descargar</a>
            </div>
          </article>

          <article class="recurso">
            <div class="recurso-imagen">
                <img src="../../images/inventario_cahuita.jpg" alt="Inventario Cultural">
            </div>
            <div class="recurso-texto">
                <h2>Inventario Cultural de Cahuita</h2>
                <p>
                  El inventario cultural es un mapeo completo de los recursos culturales con que cuenta el lugar, 
                  a partir de la participación activa de los actores municipales y comunales.
                </p>
                <a href="#" class="descargar">Descargar</a>
            </div>
          </article>

          <article class="recurso">
            <div class="recurso-imagen">
                <img src="../../images/inventario_cahuita.jpg" alt="Inventario Cultural">
            </div>
            <div class="recurso-texto">
                <h2>Inventario Cultural de Cahuita</h2>
                <p>
                  El inventario cultural es un mapeo completo de los recursos culturales con que cuenta el lugar, 
                  a partir de la participación activa de los actores municipales y comunales.
                </p>
                <a href="#" class="descargar">Descargar</a>
            </div>
          </article>

          <article class="recurso">
            <div class="recurso-imagen">
                <img src="../../images/inventario_cahuita.jpg" alt="Inventario Cultural">
            </div>
            <div class="recurso-texto">
                <h2>Inventario Cultural de Cahuita</h2>
                <p>
                  El inventario cultural es un mapeo completo de los recursos culturales con que cuenta el lugar, 
                  a partir de la participación activa de los actores municipales y comunales.
                </p>
                <a href="#" class="descargar">Descargar</a>
            </div>
          </article>

          <article class="recurso">
            <div class="recurso-imagen">
                <img src="../../images/inventario_cahuita.jpg" alt="Inventario Cultural">
            </div>
            <div class="recurso-texto">
                <h2>Inventario Cultural de Cahuita</h2>
                <p>
                  El inventario cultural es un mapeo completo de los recursos culturales con que cuenta el lugar, 
                  a partir de la participación activa de los actores municipales y comunales.
                </p>
                <a href="#" class="descargar">Descargar</a>
            </div>
          </article>

          <article class="recurso">
            <div class="recurso-imagen">
                <img src="../../images/inventario_cahuita.jpg" alt="Inventario Cultural">
            </div>
            <div class="recurso-texto">
                <h2>Inventario Cultural de Cahuita</h2>
                <p>
                  El inventario cultural es un mapeo completo de los recursos culturales con que cuenta el lugar, 
                  a partir de la participación activa de los actores municipales y comunales.
                </p>
                <a href="#" class="descargar">Descargar</a>
            </div>
          </article>

          <article class="recurso">
            <div class="recurso-imagen">
                <img src="../../images/inventario_cahuita.jpg" alt="Inventario Cultural">
            </div>
            <div class="recurso-texto">
                <h2>Inventario Cultural de Cahuita</h2>
                <p>
                  El inventario cultural es un mapeo completo de los recursos culturales con que cuenta el lugar, 
                  a partir de la participación activa de los actores municipales y comunales.
                </p>
                <a href="#" class="descargar">Descargar</a>
            </div>
          </article>        
            
        </section>
    </main>
    <script src="../scripts/load_header.js" defer></script>
</body>
</html>
