<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/general.css">
    <title>Estadísticas</title>
</head>
<body>
    <!-- Encabezado -->
    <div id="header-container"></div>





    
    Estadísticas

    <!-- Footer -->
    <div id="footer-container"></div>

    <script src="../scripts/load_header.js" defer></script>
    <script src="../scripts/load_footer.js" defer></script>
</body>
</html>