<link rel="stylesheet" href="../styles/general.css">

<header>
  <div class="header-container">
    <img src="../../images/sicultura_logo.jpg" alt="Logo Sicultura" class="logo">
    <div class="header-buttons">
        <button type="button">Solicitar cuenta</button>
        <button type="button">Iniciar sesión</button>
    </div>
  </div>
  <nav class="navbar">
    <ul>
      <li><a href="#">Inicio</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Directorios</a>
        <div class="dropdown-content">
          <a href="#">Directorio cultural</a>
        </div>
      </li>
      <li><a href="#">Agenda Cultural</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Estadísticas</a>
        <div class="dropdown-content">
          <a href="#">Encuesta nacional de cultura</a>
          <a href="#">Cuenta satélite de cultura</a>
          <a href="#">Atlas cultural</a>
          <a href="#">Gasto público en cultura</a>
          <a href="#">Sistema de registros administrativos del ministerio de cultura y juventud</a>
        </div>
      </li>
      <li><a href="#">Biblioteca</a></li>
      <li><a href="#">Mapa Cultural</a></li>
    </ul>
  </nav>
  </header>
  